.pasek
{
	position: fixed;
	width: 100%;
	height: 70px;
	background: linear-gradient(rgb(36, 36, 214),rgb(7, 7, 133));
	text-align: right;
}

.pasek_pole
{
	width: 100%;
	height: 80px;
}

.podziel
{
	width: 25%;
	float: left;
	text-align: center;
	line-height: 70px;
	min-height: 10px;
}

.logowanie
{
	width: 100%;
	background: linen;
}

.logowanie:hover
{
	background: linen;
}

.logowanie:focus
{
	background: linen;
}

.okno_post
{
	width: 80%;
	min-height: 200px;
	text-align: center;
	background: linen;
}

.napis
{
	font-size: 30px;
	color: rgb(251, 255, 7);
	padding:25px;
}

.dodaj_post
{
	padding:10px;
	margin-bottom: 20px;
}

.y
{
	margin-bottom: 20px;
	width: 100%;
}

.y_kontener
{
	float: left;
	width:40%;
	min-width: 400px;
}

.x
{
	height: 20px;
}

.autor
{
	text-align: left;
	margin-left: 20px;
	padding-bottom: 30px;
	font-size: 20px;
	color: linen;
}


.link_autor
{
	text-decoration: none;
	color: linen;
	font-size: 30px;
	display: block;
	width: 50%;
	float: left;
	height: 30px;
}

.data
{
	text-align: center;
	font-size: 22px;
	color: linen;
	width: 50%;
	float: left;
	line-height: 30px;
	height: 30px;
}

.tekst
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding-bottom: 30px;
}








